.root/nix/*
!.root/nix/.keep
.root/home/ubuntu/*
!.root/home/ubuntu/Justfile
!.root/home/ubuntu/.config
.root/home/ubuntu/.config/*
!.root/home/ubuntu/.config/home-manager
!.root/home/ubuntu/.config/nix
bind.just
